@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900;1000&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001626;
  color: white;
}
html {
  background-color: #011c2f;
  min-height: 100vh;
}
